// Example Media Queries (temporary)
// ---------------------------------

@media only screen and (max-width: 640px) {
/*
	body {
		font-size: 1.8em;
		line-height: 1.6em;
	}
*/
}


@media only screen and (max-width: 480px) {
/*
	body {
		font-size: 1.6em;
		line-height: 1.6em;
	}
*/
}

@media only screen and (max-width: 320px) {
/*
	body {
		font-size: 1.4em;
		line-height: 1.6em;
	}
*/
}