@charset "UTF-8";

////////////////////////////////
// Styles for a Ghost theme using Girder
// Import the required partials (compass and breakpoint used in this project)

// Overwrite gutters in ems (by default 1.25em = 20px)
$gutters: 1.25em;

// Girder Settings and Modules
@import "libs/girder";

// Compass support
@import "compass";

// Baseline for Compass Vertical Rhythm
@include establish-baseline;

// Site Styling Variables
$body-bg             : #ffffff;
$base-font-color     : #2e3033;
$linkColor           : #4783bf;
$linkHoverColor      : #DB7200;
$lightText           : lighten($base-font-color, 45%);
$highlightColor      : #fffac0;
$primaryColor        : #053564;

// Matching Girder's em-base for consistency
$base-font-size: $em-base !default; // Override default set in Compass' Vertical Rhythm partial.

$rhythm-unit: 'rem';
$rem-with-px-fallback: true;
$base-line-height: 17px;

// The base line height determines the basic unit of vertical rhythm.
// $base-line-height: 24px; // Override default set in Compass' Vertical Rhythm partial.

// The font sizes for h1-h6.
$h1-font-size: 2.8   * $base-font-size;
$h2-font-size: 1.8   * $base-font-size;
$h3-font-size: 1.17  * $base-font-size;
$h4-font-size: 1     * $base-font-size;
$h5-font-size: 0.83  * $base-font-size;
$h6-font-size: 0.67  * $base-font-size;

// The amount lists and blockquotes are indented.
$indent-amount: 30px;

// Default font families
$headings-font        : source-sans-pro, "Helvetica Neue", "Helvetica", sans-serif;
$base-font-family     : source-sans-pro, "Helvetica Neue", "Helvetica", Arial, sans-serif;
$girder-font-family   : lato, source-sans-pro, "Helvetica", sans-serif;


////////////////////////////////
// Normalize this thing - Tweaked slightly
@import "libs/normalize";

////////////////////////////////
// Base Theme Styles
@import "base";

////////////////////////////////
// Library Styles and Vendor Includes
@import "libs/nprogress";
@import "libs/prism";
@import "libs/prism_custom";
